@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SeoulNamsanM';
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    font-family: 'S-CoreDream-3Light';
    background-color: #3c66ae;
}
/* common */
.inner {
    width: 1440px;
    margin: 0 auto;
}

section .title {
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
}

section .title h3 {
    font-size: 50px;
    margin-bottom: 15px;
}

section .title p {
    font-size: 20px;
}

/* header */
header {}
header .inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {
    font-size: 20px;
    color: #fff;
}
header .inner nav ul {
    display: flex;
    font-size: 18px;
    color: #fff;
}
header .inner nav ul li {
    
}
header .inner nav ul li a {
    padding-left: 100px;
}


/* .main_visual */
.main_visual {
    height: calc(100vh - 100px);
    position: relative;
}

.main_visual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ef5136;
    height: 300px;
    width: 700px;
}

.main_visual .inner p {
    color: rgba(255, 255, 255, 0.594);
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;
}

.main_visual .inner h2 {
    font-size: 70px;
    color: #fff;
    padding: 10px;
}

/* .swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .cont01 영상편집 */
.cont01 {

}

.cont01 .title{
    text-align: center;
    color: #fff;
}

.cont01 
.cont01 .motion_menu {
    display: inline-block;
}

.cont01 .motion_menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 450px;
    background-color: #3c66ae;
    height: 40px;
    border-radius: 40px;
}

.cont01 .motion_menu ul li {
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    cursor:context-menu;
    line-height: 45px;
    border: 1px solid #fff;
    color: #fff;
}
    

.cont01 .motion_menu ul li.on {
    line-height: 45px;
    background-color: #fff;
    color: #333;
}

.cont01 .mySwiper {display: none;}
.cont01 .mySwiper.on {display: block;}

.cont01 .mySwiper .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c66ae;
}

.cont01 .mySwiper .item .pc_youtube {
    width: 55%;
    position: relative;
}

.cont01 .mySwiper .item .pc_youtube img {
    height: auto;
}
.cont01 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 94%;
}

.cont01 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.cont01 .mySwiper .item .pc_youtube .youtube > div iframe{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.cont01 .mySwiper .item .info{
    width: 45%;
    text-align: left;
    border: 5px solid #fff;
    background-color: #fff;
    margin-left: 20px;
}

.cont01 .mySwiper .item .info .a1{
    background-color: #3c66ae;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.cont01 .mySwiper .item .info .a1 strong{
    display: block;
    margin-bottom: 20px;
}

.cont01 .mySwiper .item .info .a1 h4{
    font-size: 34px;
    text-align: center;
}

.cont01 .mySwiper .item .info p{
    font-size: 20px;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.4;
    padding: 10px;
    color:#3c66ae;
    text-align: center;
}

.cont01 .mySwiper .item .info .text{
    margin: 20px 0 30px;
}

.cont01 .mySwiper .item .info .text li{
    line-height: 1.6;
}

.cont01 .mySwiper .item .info .btn{
    padding-left: 150px;
    display: flex;
}
.cont01 .mySwiper .item .info .btn  li{
    height: 40px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #3c66ae;
    color: #fff;
    margin-right: 10px;
}

.cont01 .mySwiper .item .info .btn li a{
    padding: 0 25px;
}

.cont01 .mySwiper .item .info .btn li:nth-of-type(2){
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}


/* .cont03 웹사이트 */
.cont03 {
    width: 1920px;
    margin: 200px auto;
}

.cont03 .title{
    color: #fff;
    text-align: center;
}
.cont03 .list {
    width: 1440px;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

.cont03 .list .item {
    width: 1440px;
    margin: 0 20px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.cont03 .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.571);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}

.cont03 .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #fdbc02;
    top: -20px;
    left: 20px;
}

.cont03 .list .item .info p{
    font-size: 20px;
}

.cont03 .list .item:hover::before{
    bottom: 0;
}
 
.cont03 .list .item:hover .info {
    background-color: transparent;
    color: #fff;
}


.cont03 .list .item:hover .info a {
    color: #333;
}

.cont03 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .list .item .info {
    width: 100%;
    transition: .5s;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 50px;
    word-break: keep-all;
}
.cont03 .list .item .info h4 {
    font-size: 30px;
}
.cont03 .list .item .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
}
.cont03 .list .item .info .text li {
    margin: 5px 0;
}
.cont03 .list .item .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li {
    margin-right: 10px;
    background-color: #eee;
}

.cont03 .list .item .info .btn li a {
    height: 45px;
    padding: 0 40px;
    display: block;
    line-height: 50px;
    font-size: 15px;
    font-weight: 700;
}

.cont03 .list .item .info .btn li:hover {
    margin-right: 10px;
    background-color: #ef5136;
    color: #fff;
}



/* 그래픽디자인 */
.cont04{
    color: #fff;
    padding: 100px 0;
}

.cpnt04 .title{
    text-align: center;
}

.cont04 .list{
    display: flex;
    justify-content: space-between;
}

.cont04 .list a{
    width: 19%;
}

.cont04 .list a img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.cont04 .list a .info{
    background-color: #eee;
    color: #333;
    padding: 20px 10px;
}

.cont04 .list a .info h4{
    font-size: 20px;
    margin-bottom: 7px;
}


/* cont05 나의 소개 */

.cont05{
    padding:200px 0;
}
.cont05 .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont05 .info_img{
    width: 400px;
    height: 400px;
}

.cont05 .info_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont05 .info .text{
    width: 1000px;
    padding-left: 100px;
    color: #fff;
font-weight: 500;
}
.cont05 .info .text ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
}

.cont05 .info .text ul li{
    line-height: 1.4;
}

.cont05 .info .text ul li strong{
    display: inline-block;
    width: 180px;
}

.cont05 .info .text .list{
    margin-top: 50px;
    color: #333;
}

.cont05 .info .text .list li{
    height: 50px;
    line-height: 55px;
    padding: 0 30px;
    background-color: #eee;
    border-radius: 40px;
    margin: 5px 10px;
    font-weight: 700;
}
.cont05 .info .text .list li.v{
    background-color: #ef5136;
    color: #333;
}

/* footer */
footer{
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
}

footer ul li{
    height: 50px;
    
    width: 200px;
    background-color: #fdbc02;
    margin: 10px auto;
    border-radius: 40px;
    color: #333;
}

footer ul li a{
    display: block;
    line-height: 55px;
}

footer p{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    line-height: 1.4;
}