@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonoplexKR-Italic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'S-CoreDream-3Light';
    font-weight: 700;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    width: 100%;
    height: 100%;
    color: #333;
    font-family: 'S-CoreDream-3Light';
    background-color: #3c66ae;
}
/* common */
.inner {
    margin: 0 auto;
}

section .title {
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

section .title h3 {
    font-size: 50px;
    margin-bottom: 15px;
    font-family: 'MonoplexKR-Italic';
}

section .title p {
    font-size: 20px;
}

/* header */
header {
    /* position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9; */
    width: 100%;
    margin: 0 auto;
    z-index: 9; 
}

header.on{
    background-color: #fdba02;
    height: 60px;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 15; 
    color: #333;
}

header .inner {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner h1 {
    font-size: 20px;
    color: #fff;
}

header .inner .gnb ul {
    display: flex;
    font-size: 18px;
    color: #fff;
}


header .inner .gnb ul li a {
    padding-left: 100px;
}

header .inner .gnb ul li a:hover{
    color: #fdbc02;
}

header.on .inner{
    padding-bottom: 15px;
}

header.on .inner .gnb ul{
    color: #333;
}
header.on .inner .gnb ul li a:hover{
    color: #fff;
}


/* .main_visual */
.main_visual {
    margin: 0 auto;
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

.main_visual .inner .img1{
    position: absolute;
    top: 30px;
    left: 261px;
}

.main_visual .inner .img2{
    position: absolute;
    top: 110px;
    left: 900px;
    z-index: 9;
}

.main_visual .inner .img3{
    position: absolute;
    top: -30px;
    left: 850px;
}

/* .cont02 .swiper */

.cont02 .swiper{
    position: static;
}
.cont02 .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.cont02 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont02 .swiper .swiper-button-next{
    position: absolute;
    color: #fdbc02;
}
.cont02 .swiper .swiper-button-prev{
    position: absolute;
   margin-left: 300px;
   color: #fdbc02;
}

/* cont01 평점 */
.cont01{
    width: 1440px;
    margin: 0 auto;
    padding-top: 150px;
}

.cont01 h2{
    margin: 0 auto;
    line-height: 65px;
    width: 262px;
    height: 65px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 100px;
}

.cont01 .list .item{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    margin-bottom: 40px;
}

.cont01 .list .item img{
    margin-right: 5px;
}

.cont01 .list .item h3{
    width: 190px;
    height: 45px;
    line-height: 35px;
    border: 3px solid #fff;
    text-align: center;
    margin: 0 22px;
}

.cont01 .list:nth-last-of-type(1){
    margin-left: 548px;
    margin-top: 71px;
}

/* .cont02 영상편집 */
.cont02{
    width: 1440px;
    margin: 0 auto;
    margin-top: 200px;
    padding-top: 150px;
}

.cont02 .inner{
    position: relative;
}

.cont02 .title{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.cont02 .motion_menu {
    display: inline-block;
}

.cont02 .motion_menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 450px;
    background-color: #3c66ae;
    height: 40px;
}

.cont02 .motion_menu ul li {
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    cursor:context-menu;
    line-height: 45px;
    border: 1px solid #fff;
    color: #fff;
}
    

.cont02 .motion_menu ul li.on {
    line-height: 45px;
    background-color: #fff;
    color: #333;
}

.cont02 .mySwiper {display: none;}
.cont02 .mySwiper.on {display: block;}

.cont02 .mySwiper .item {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background-color: #3c66ae;
}

.cont02 .mySwiper .item .pc_youtube {
    width: 55%;
    position: relative;
}

.cont02 .mySwiper .item .pc_youtube img {
    height: auto;
}
.cont02 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 47px;
    left: 15px;
    width: 96%;
}

.cont02 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
}

.cont02 .mySwiper .item .pc_youtube .youtube > div iframe{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.cont02 .mySwiper .item .info{
    width: 45%;
    text-align: left;
    border: 3px solid #fff;
    background-color: #fff;
    margin-left: 20px;
}

.cont02 .swiper-pagination{
    color: #fff;
}

.cont02 .mySwiper .item .info .a1{
    background-color: #3c66ae;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.cont02 .mySwiper .item .info .a1 strong{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.cont02 .mySwiper .item .info .a1 h4{
    font-size: 30px;
    text-align: center;
}

.cont02 .mySwiper .item .info p{
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 1.4;
    padding: 10px;
    color:#3c66ae;
    text-align: center;
}

.cont02 .mySwiper .item .info .text{
    margin: 20px 0 15px;
    text-align: center;
}

.cont02 .mySwiper .item .info .text li{
    line-height: 1.6;
}

.cont02 .mySwiper .item .info .btn{
    padding-left: 155px;
    display: flex;
    margin-bottom: 10px;
}

.cont02 .mySwiper .item .info .btn  li{
    height: 40px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #3c66ae;
    color: #fff;
    margin-right: 10px;
}

.cont02 .mySwiper .item .info .btn li a{
    padding: 0 25px;
}

.cont02 .mySwiper .item .info .btn li:nth-of-type(2){
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.cont02 .swiper-button-next{
    position: absolute;
    top: 400px;
    left: 1500px;
}

.cont02 .swiper-button-prev{
    position: absolute;
    top: 400px;
    left: -360px;
}

.cont02 .swiper-pagination{
    position: absolute;
    bottom: -40px;
}

/* .cont03 웹사이트 */
.cont03 {
    margin: 150px auto;
    padding-top: 100px;
}

.cont03 .title{
    color: #fff;
    text-align: center;
}

.cont03 .list {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
}

.cont03 .list .item {
    width: 32%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.cont03 .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.571);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}

.cont03 .list .item .info p{
    font-size: 20px;
}

.cont03 .list .item:hover::before{
    bottom: 0;
}
 
.cont03 .list .item:hover .info {
    background-color: transparent;
    color: #fff;
}


.cont03 .list .item:hover .info a {
    color: #333;
}

.cont03 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .list .item .info {
    width: 100%;
    transition: .5s;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 30px;
    word-break: keep-all;
}

.cont03 .list .item .info h4 {
    font-size: 25px;
}
.cont03 .list .item .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
    font-size: 20px;
}
.cont03 .list .item .info .text li {
    margin: 5px 0;
}
.cont03 .list .item .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li {
    margin-right: 10px;
    background-color: #eee;
}

.cont03 .list .item .info .btn li a {
    height: 45px;
    padding: 0 40px;
    display: block;
    line-height: 50px;
    font-size: 13px;
    font-weight: 700;
}

.cont03 .list .item .info .btn li:hover {
    margin-right: 10px;
    background-color: #ef5136;
    color: #fff;
}



/* 그래픽디자인 */
.cont04{
    width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 150px;
}

.cont04 .inner{
    position: relative;
}

.cpnt04 .title{
    text-align: center;
}

.cont04 .inner .graphicswiper .swiper-wrapper .swiper-slide a{
    width: 397px;
    height: 480px;
    margin: 15px;
}

.cont04 .inner .graphicswiper .swiper-wrapper .swiper-slide a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    overflow: hidden;
}

.cont04 .inner .graphicswiper .swiper-wrapper .swiper-slide a .info{
    position: absolute;
    top: 800px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.522);
    color: #fff;
    padding-top: 220px;
    font-size: 20px;
    font-weight: 500;
}
.cont04 .inner .graphicswiper .swiper-wrapper .swiper-slide a:hover .info{
    position: absolute;
    top: 25px;
}

.cont04 .swiper {
    width: 100%;
    height: 100%;
    position: static;
  }

  .cont04 .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    height: 480px;
  }

  .cont04 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cont04 .swiper .swiper-pagination{
    position: absolute;
    top: 650px;
    left: 0;
  }

  .cont04 .swiper-pagination-bullet{
    background-color:#fdba02;
  }


/* footer */
footer{
    margin-top: 150px;
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
}

footer ul li{
    height: 50px;  
    width: 200px;
    background-color: #fdbc02;
    margin: 10px auto;
    border-radius: 40px;
    color: #333;
}

footer ul li:hover{
    background-color: #ef5136;
}

footer ul li a{
    display: block;
    line-height: 50px;
}

footer p{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    line-height: 1.4;
}