@charset "UTF-8";
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HallymGothic-Regular';
}

body{
    background-color: #f37032;
    line-height: 1.3;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

section h2{
    font-size: 70px;
}

section h3{
    font-size: 35px;
}

section h4{
    font-size: 28px;
}

section p{
    font-size: 22px;
}

header{
    width: 1800px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 22px;
}

header .left{
    display: flex;
}
header .left LI{
    padding-right: 78PX;
}

header .left li a{
    color: #fff;
}

header .right{
    display: flex;
}

header .right li{
    padding-right: 38px;
}

/* main visual */
.main_v{
    width: 1440px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_v .title h2{
    font-size: 70px;
    color: #fffaac;
    font-family: 400;
    line-height: 1.1;
    letter-spacing: 15px;
}

.main_v .title .down{
    margin-top: 33px;
}

.main_v .title .down h3{
    font-size: 35px;
    color: #234300;
    margin-bottom: 25px;
}

/* cont01 */

.cont01{
    width: 1400px;
    margin: 150px auto;
}

.cont01 .list01{
    display: flex;
    justify-content: space-between;
}

.cont01 .list01 .info{
    text-align: right;
}

.cont01 .list02{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}


/* cont02 */
.cont02{
    margin: 0 auto;
    position: relative;
    width: 100%;
    background-color: #fffaac;
}

.cont02 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont02 .info{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.557);
    color: #fff;
    padding: 247px 0;
    padding-left: 50px;
}

.cont02 .info h3{
    margin-bottom: 32px;
}

/* cont03 */
.cont03{
    width: 1440px;
    margin: 150px auto;
}

.cont03 .title{
    text-align: center;
    color: #fff;
    margin-bottom: 88px;
}

.cont03 .list{
    display: flex;
    justify-content: space-between;
    
}

.cont03 .list .item{
    position: relative;
}

.cont03 .list .item .img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .list .item .info{
    position: absolute;
    width: 338.59px;
    height: 433px;
    background-color: rgba(51, 51, 51, 0.429);
    color: #fff;
    top: -800px;
    left: 0;
    text-align: center;
    padding-top: 200px;
    display: none;
}

.cont03 .list .item:hover .info{
    top: 0;
    left: 0;
    display: block;
}

footer{
    background-color: #333;
    color: #fff;
}